{% extends 'base.html.twig' %}


{% block body %}
    {#     {{ dump(visits) }} #}
    <div class="jumbotron">
        <div class="container">
            <h1><?php echo strtoupper(strtolower($cleverWelcomeMessage)); ?></h1>

            <p>Over <?php echo $visitCount ?> visit records!</p>
        </div>
    </div>
    <!--<form method="post">-->
    <table style="width:75%">
        <tbody>
        <tr>
            <th>Visit Date</th>
            <th>Visit Time</th>
            <th>Type</th>
            <th>Notes</th>
        </tr>
        {% for visit in visits %}
        <tr>
            <td>{{ visit.visit_date }}
            </td>
            <td>{{ visit.visit_time }}
            </td>
            <td>
                <a href="/show.php?id={{ visit.id }}">
                    {{ visit.type}}
                </a>
            </td>
            <td>{{ visit.notes }}
            </td>
            <td class="visit-delete">
                <form action='/visit_display.php?id="{{ visit.id}}" ' method="post">
                    <input type="hidden" name="id" value="{{ visit.id }}">
                    <input type="submit" name="submit" value="Delete">
                </form>

            </td>
            <td class="visit-modify">
                <form action='/visits_edit.php?id={{ visit.id}} ' method="post">
                    <input type="hidden" name="id" value="{{ visit.id }}">
                    <input type="submit" name="submit" value="Edit">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

{% endblock %}